body{
    background-color: red;
}
.login_div1 , .login_div2
{
background-color: white;
border-radius: 15px;
padding: 10px;
float:none;
}
#player1 , #player2
{
    display: inline-block;
}